*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image:linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(Luffy-Wallpaper.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

#results .card {
  transition: transform 0.2s;
  margin-bottom: 1rem;
}

#results .card:hover {
  transform: scale(1.05);
}

.card-title {
  font-weight: bold;
}

.card-subtitle {
  font-style: italic;
  color: #555;
}

.bg-light-blue {
  background-color: #dbeafe !important; 
}

.filler-badge {
  position: absolute;
  right: 8px;
  background-color: #3b82f6; /* azul intenso */
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}